body{
    display: flex;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 280px;
    max-width: 500px;
    background-color: rgb(54, 54, 43);
    color: white;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(54, 54, 43);
    border-radius: 10px;
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link a{
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    text-decoration: none;
}

img{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

p, h2{
    text-align: center;
}

.link a:hover{
    background-color: hsl(75, 94%, 57%);
    transform: scale(1.08)
}